<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Document</title>
</head>
<body>

    <form method = 'post'>
        {% csrf_token %}
            <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>

            <div>
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
    </form>

     {{form.errors}}

</body>
</html>